{{pageHeader title}}

<div class="alert">
  To change content of this page, modify <code>app/templates/pages/about.handlebars</code>.
</div>

<p>
  {{#linkTo pages.index}}Back to pages{{/linkTo}}
</p>
