{{pageHeader title}}

<div class="alert">
  To change content of this page, modify <code>app/templates/pages/index.handlebars</code>.
</div>

<p>
  Other pages: 
  {{#linkTo pages.about}}About{{/linkTo}}
</p>