<div class="row-fluid">
  <div class="span12">
    <div class="content">
      {{pageHeader title}}

      <div class="alert alert-success">
        Congratulations! You have successfully set up the application!
        <br />
        To change content of this page, modify <code>app/templates/index.handlebars</code>.
      </div>

      <p>
        Other links:
        {{#linkTo "pages.index"}}Pages{{/linkTo}}
      </p>
    </div>
  </div>
</div>
